<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin</title>
    <!-- Favicon.ico-->
    <link rel="shortcut icon" href="" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="../plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/adminlte.min.css" />
    <!-- summernote -->
    <link rel="stylesheet" href="../../plugins/summernote/summernote-bs4.min.css" />
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Preloader 
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="../dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60" />
        </div>
        -->
        <!-- Navbar -->
        <%- include('../Layout/SideBar') %>
		<!-- /.navbar -->
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
					  <div class="col-sm-6">
						<h1>General Color & Product</h1>
					  </div>
					  <div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
						  <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
						  <li class="breadcrumb-item active">Liên kết Color & Product</li>
						</ol>
					  </div>
					</div>
				</div>
			</section>
			
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<% if(Message == 'Create') {%>
					<form action="/Admin/PrdCol" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="col-md-3">
								<div class="card card-primary">
									<div class="card-header">
										<h3 class="card-title">Hình ảnh sản phẩm</h3>
									</div>
									<div class="card-body" style="text-align:center;">
										<ul class="" style="list-style-type: none;padding-left: 0px;">
											<li>
												<label for="file-input1">
													<img src="/Image/sm-1.jpg" class="col-md-8" />
												</label>
												<input class="col-sm-2" id='file-input1' name='file-input1' type="file" style="display: none;" required/>
											</li>
											<li>
												<label for="file-input2">
													<img src="/Image/sm-1.jpg" class="col-md-8" />
												</label>
												<input class="col-md-3" id='file-input2' name='file-input2' type="file" style="display: none;" required/>
											</li>
											<li>
												<label for="file-input3">
													<img src="/Image/sm-1.jpg" class="col-md-8" />
												</label>
												<input class="col-md-3" id='file-input3' name='file-input3' type="file" style="display: none;" required/>
											</li>
											<li>
												<label for="file-input4">
													<img src="/Image/sm-1.jpg" class="col-md-8" />
												</label>
												<input class="col-md-3" id='file-input4' name='file-input4' type="file" style="display: none;" required/>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-9">
								<div class="card card-danger">
									<div class="card-header">
										<h3 class="card-title">Thông tin Product & Color </h3>
									</div>
									<div class="card-body">
										<div class="form-group">
											<label>Danh Mục <code>*</code></label>
											<select class="form-control" name="categoryId" id="categoryId" required>
												<option value='null'>Chọn danh mục sản phẩm</option>
												<% if(Category != null) {%>
													<% Category.forEach(function(x){ %>
														<option value="<%= x.id %>"><%= x.title %></option>
													<% }); %>
												<% } %>
											</select>
										</div>
										
										<div class="form-group">
											<label>Sản phẩm <code>*</code></label>
											<select class="form-control" name="productId" id="productId" required>
												<option value='null'>Chọn thông số cho sản phẩm</option>
											</select>
										</div>
										
										<div class="form-group">
											<label>Color <code>*</code></label>
											<select class="form-control" name="colorId" id="colorId" required>
												<option value=null>Chọn option cho sản phẩm</option>
												<% if(Color != null) {%>
													<% Color.forEach(function(x){ %>
														<option value="<%= x.id %>"><%= x.title %></option>
													<% }); %>
												<% } %>
											</select>
										</div>
										
									</div>
								</div>
							</div>
							<div class="card-footer">
								<button type="submit" class="btn btn-info">Upload</button>
							</div>
						</div>
					</form>
					<% } %>
					
					<% if(Message == 'Update') {%>
					<form action="/Admin/PrdCol/<%= PrdCol.id %>" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="col-md-3">
								<div class="card card-primary">
									<div class="card-header">
										<h3 class="card-title">Hình ảnh sản phẩm</h3>
									</div>
									<div class="card-body" style="text-align:center;">
										<ul class="" style="list-style-type: none;padding-left: 0px;">
											<li>
												<label for="file-input1">
													<img src="<%= PrdCol.image1 %>" class="col-md-8" />
												</label>
												<input class="col-sm-2" id='file-input1' name='file-input1' type="file" style="display: none;" required/>
											</li>
											<li>
												<label for="file-input2">
													<img src="<%= PrdCol.image2 %>" class="col-md-8" />
												</label>
												<input class="col-md-3" id='file-input2' name='file-input2' type="file" style="display: none;" required/>
											</li>
											<li>
												<label for="file-input3">
													<img src="<%= PrdCol.image3 %>" class="col-md-8" />
												</label>
												<input class="col-md-3" id='file-input3' name='file-input3' type="file" style="display: none;" required/>
											</li>
											<li>
												<label for="file-input4">
													<img src="<%= PrdCol.image4 %>" class="col-md-8" />
												</label>
												<input class="col-md-3" id='file-input4' name='file-input4' type="file" style="display: none;" required/>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-9">
								<div class="card card-danger">
									<div class="card-header">
										<h3 class="card-title">Thông tin Product & Color </h3>
									</div>
									<div class="card-body">
										<div class="form-group">
											<label>Danh Mục <code>*</code></label>
											<select class="form-control" name="categoryId" id="categoryId" required disabled>
												<option value='null'>Chọn danh mục sản phẩm</option>
												<% if(Category != null) {%>
													<% Category.forEach(function(x){ %>
														<% if(Product.categoryId == x.id) {%>
															<option selected value="<%= x.id %>"><%= x.title %></option>
														<% }else{ %>
															<option value="<%= x.id %>"><%= x.title %></option>
														<% } %>
													<% }); %>
												<% } %>
											</select>
										</div>
										
										<div class="form-group">
											<label>Sản phẩm <code>*</code></label>
											<select class="form-control" name="productId" id="productId" required disabled>
												<option value="<%= Product.id %>"><%= Product.title %></option>
											</select>
										</div>
										
										<div class="form-group">
											<label>Color <code>*</code></label>
											<select class="form-control" name="colorId" id="colorId" required disabled>
												<option value=null>Chọn option cho sản phẩm</option>
												<% if(Color != null) {%>
													<% Color.forEach(function(x){ %>
														<% if(PrdCol.colorId == x.id) {%>
															<option selected value="<%= x.id %>"><%= x.title %></option>
														<% }else{ %>
															<option value="<%= x.id %>"><%= x.title %></option>
														<% } %>
													<% }); %>
												<% } %>
											</select>
										</div>
										
									</div>
								</div>
							</div>
							<div class="card-footer">
								<button type="submit" class="btn btn-info">Upload</button>
							</div>
						</div>
					</form>
					<% } %>
				</div>
			</section>
		</div>
		<!-- /.content-wrapper -->
		<!-- Main Footer -->
		<%- include('../Layout/footer') %>
        <!-- ./main Footer -->
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="../plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="../plugins/raphael/raphael.min.js"></script>
    <script src="../plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="../plugins/jquery-mapael/maps/usa_states.min.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="../dist/js/pages/dashboard2.js"></script>

    <!-- bs-custom-file-input -->
    <script src="../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>
    <script>
        $(function() {
            bsCustomFileInput.init();
        });
    </script>

    <!-- Summernote -->
    <script src="../plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Summernote -->
    <script src="../plugins/summernote/summernote-bs4.min.js"></script>
    <!-- CodeMirror -->
    <script src="../plugins/codemirror/codemirror.js"></script>
    <script src="../plugins/codemirror/mode/css/css.js"></script>
    <script src="../plugins/codemirror/mode/xml/xml.js"></script>
    <script src="../plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
	<script>
	$(function () {
		$('input[type=file]').change((event)=>{
			$(`label[for=${event.target.id}] img`).attr('src',URL.createObjectURL(event.target.files[0]));
		});
		$("#categoryId").change((event) => {
                let categoryId = event.target.value;
				let content = `<option value='null'>Chọn thông số cho sản phẩm</option>`;
				$("#productId").html(content);
				if(categoryId !== 'null' && categoryId !== null){
					$.ajax({
						url :`../../Product/Product/Category/${categoryId}`,
						dataType : 'json',
						type : 'get',
						data:{ categoryId : categoryId},
					}).done(function (response){
						if(response.Data.length > 0 ){
							response.Data.forEach(product =>{
								content = content + `<option value='${product.id}'>${product.title}</option>`;
							})
							$("#productId").html(content);
						}else{
							content = `<option value='null'>Chọn thông số cho sản phẩm</option>`;
							$("#productId").html(content);
						}
					});
				}else{
					content = `<option value='null'>Chọn thông số cho sản phẩm <option>`;
					$("#productId").html(content);
				}
            });
	})
	</script>
</body>

</html>